#borderimage {
  border: blue 1px solid;
}
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
  position: absolute;
  inset: 0;
  z-index: 0;
}

#p5-layer {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

#marketa {
  position: absolute;
  inset: 10%;
  z-index: 12;
  pointer-events: none;
}

#classIm {
  position: absolute;
  inset: 10%;
  z-index: 12;
  pointer-events: none;
}