.borderimage {
	BORDER-RIGHT: white 1px solid; BORDER-TOP: white 1px solid; BORDER-LEFT: white 1px solid; BORDER-BOTTOM: white 1px solid
}
html, body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
  position: absolute;
  inset: 0;
  z-index: 0;
}

#p5-layer {
  position: absolute;
  inset: 0;
  z-index: 10;
  pointer-events: none;
}

#marketa {
    position: absolute;
    inset: 10%;
    z-index: 12;
}